@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#body{
	background-color: #24262b;
}
.carousel-item img{
    
    height: 97vh;
	
}
#head1{
	width: 70%;
	font-size: 400%;
}

#headline1{
	position: absolute;
	left:12%;
	top:35%;
	
}
#head3{
	width:60%;
	font-size: 400%;
	
}
#headline{
	position:absolute;
	left:12%;
	top:30%;
}
#index{
    position:absolute;
	left:83%;
}
#btn{
	width:22%;
	font-size: 125%;
	
	opacity: 70%;
}
#btn1{
	opacity: 75%;
}
#btn2{
	opacity: 80%;
	background-color: rgb(39, 163, 167);
	border-color:rgb(39, 163, 167) ;
}
#best{
	color: aquamarine;
}
#jobs{
	color:rgba(102, 205, 205, 0.986);
}
#head4{
	width:80%;
	font-size: 400%;
}
#matha{
	color:rgba(167, 213, 213, 0.986);
}
#pagol{
	color: rgba(7, 57, 88, 0.941);
}
.col{
	width: 5px;
}
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.col{
   width: 25%;
   padding: 0 15px;
}
.col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.col ul li:not(:last-child){
	margin-bottom: 10px;
}
.col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
img {
	width: 20%;
}
