<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>About Us</title>
    <link rel="stylesheet" href="/Style/about.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"
            defer></script>
</head>
<body id="body">
<div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div id="header"><img src="/images/logo 3.png" alt="#" id="img9">
            <a class="navbar-brand" href="/">Job Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-lg-auto mb-2 mb-lg-0" id="index">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Log In
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/registration">Applicant</a></li>
                            <li><a class="dropdown-item" href="/ad-log">Admin</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<header>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <p>job portal</p>
            <div class="carousel-item active">
                
                <img src="/images/job9.jpg" class="d-block w-100" alt="...">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                        
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8" id="heading" >
                            <h1 class="display-3 text-white animated slideInDown mb-4" >We Never Dreamed About Success. We Worked For It.</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">JOB_PORTAL.ORG</p>
                            
                        </div>
                    </div>
            
            </div>
                
            </div>
        </div>
    </div>
</header>

<br><br>
<h2 id="about">About Us</h2>
<p id="info">We completed the Web Development Course from Coincent. We achieved certificates from IBM for completion of
    Angular JS. We completed this project together.</p>
<br><br>

<h5 id="inf">Connect with us at Social media...</h5>
<br>
<br>
<div class="container">
    <div class="row row-cols-4">
        <div class="col">
            <img src="/images/aniruddha.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aniruddha Ghosh</h5>
                <p class="card-text">
                <div class="container">
                    <div class="row row-cols-auto">
                        <div class="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href=""
                                                                                             target="_blank"><img
                                src="images/LinkedIn_icon_circle.png" class="rounded-circle" id="imgi" alt="..."></a>
                        </div>
                        <div class="col">
                            <a href="" target="_blank"><img src="/images/insta_icon.jpg" class="rounded-circle"
                                                            id="imgi" alt="..."></a>
                        </div>
                        <div class="col">
                            <a href="" target="_blank"><img src="images/face_jpeg.jpg" class="rounded-circle" id="imgi"
                                                            alt="..."></a>
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </div>
        <div class="col">
            <img src="images/aryanew3.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Arya Chatterjee</h5>
                <p class="card-text">
                <div class="container">
                    <div class="row row-cols-auto">
                        <div class="col">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" target="_blank"><img
                                src="images/LinkedIn_icon_circle.png" class="rounded-circle" id="imgi" alt="..."></a>
                        </div>
                        <div class="col">
                            <a href="" target="_blank"><img src="/images/insta_icon.jpg" class="rounded-circle"
                                                            id="imgi" alt="..."></a>
                        </div>
                        <div class="col">
                            <a href="" class="enu" target="_blank"><img src="images/face_jpeg.jpg" class="rounded-circle"
                                                                        id="imgi" alt="..."></a>
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </div>
        <div class="col">
            <img src="images/anindyanew2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Anindya Biswas</h5>
                <p class="card-text">
                <div class="container">
                    <div class="row row-cols-auto">
                        <div class="col">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" target="_blank"><img
                                src="images/LinkedIn_icon_circle.png" class="rounded-circle" id="imgi" alt="..."></a>
                        </div>
                        <div class="col">
                            <a href="" target="_blank"><img src="/images/insta_icon.jpg" class="rounded-circle"
                                                            id="imgi" alt="..."></a>
                        </div>
                        <div class="col">
                            <a href="" target="_blank"><img src="images/face_jpeg.jpg" class="rounded-circle" id="imgi"
                                                            alt="..."></a>
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </div>
        <div class="col"><img src="/images/enakshi.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Enakshi Nahar</h5>
                <p class="card-text">
                <div class="container">
                    <div class="row row-cols-auto">
                        <div class="col">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" target="_blank"><img
                                src="images/LinkedIn_icon_circle.png" class="rounded-circle" id="imgi" alt="..."></a>
                        </div>
                        <div class="col">
                            <a href="" target="_blank"><img src="/images/insta_icon.jpg" class="rounded-circle"
                                                            id="imgi" alt="..."></a>
                        </div>
                        <div class="col">
                            <a href="" target="_blank"><img src="images/face_jpeg.jpg" class="rounded-circle" id="imgi"
                                                            alt="..."></a>
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>
<br><br>
<footer class="footer">
    <div class="container">
        <div class="row row-cols-4">
            <div class="col">
                <h4>Job Portal</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>FAQ</h4>
                <ul>
                    <li><a href="#">Ask a Question</a></li>
                    <li><a href="#">Get help from an admin</a></li>
                    
                    <li id="info9"><a href="#">Any question related to registration can be asked at info@jobportal.in .</a></li> 
                </ul>
            </div>
            <div class="col">
                <h4>Founders</h4>
                <ul>
                    <li><a href="#">Aniruddha Ghosh</a></li>
                    <li><a href="#">Arya Chatterjee</a></li>
                    <li><a href="#">Anindya Biswas</a></li>
                    <li><a href="#">Enakshi Nahar</a></li>
                </ul>
            </div>
            <div class="col">
                <img src="/images/logo 3.png" alt="..." id="img8">
            </div>
            
        </div>
    </div>
    <p id="last">For any queries related to our posted jobs, please reach out to us at partners@jobportal.in</p>
</footer>
</body>
</html>
