<%- include('./includes/header') %>
<!--Adding the header content-->
<div class="content">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Candidate Name</th>
        <th scope="col">Email</th>
        <th scope="col">State</th>
        <th scope="col">City</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</div>
<!--Adding the footer content-->
<%- include('./includes/footer') %>